Getting the data

In [1]:
import pandas as pd

In [2]:
titanic_data = pd.read_csv('titanic.csv')

In [3]:
titanic_data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",female,24.0000,0.0,0.0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1.0,1.0,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0.0,0.0,19877,78.8500,NaN,S,6,NaN,NaN
14,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1.0,0.0,"Baumann, Mr. John D",male,NaN,0.0,0.0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1.0,0.0,"Baxter, Mr. Quigg Edmond",male,24.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1.0,1.0,"Bazzani, Miss. Albina",female,32.0000,0.0,0.0,11813,76.2917,D15,C,8,NaN,NaN
19,1.0,0.0,"Beattie, Mr. Thomson",male,36.0000,0.0,0.0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1.0,1.0,"Beckwith, Mr. Richard Leonard",male,37.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1.0,1.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0000,0.0,0.0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1.0,1.0,"Bidois, Miss. Rosalie",female,42.0000,0.0,0.0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1.0,1.0,"Bird, Miss. Ellen",female,29.0000,0.0,0.0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,25.0000,0.0,0.0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1.0,1.0,"Bishop, Mr. Dickinson H",male,25.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1.0,1.0,"Bissette, Miss. Amelia",female,35.0000,0.0,0.0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1.0,1.0,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0.0,0.0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,3.0,0.0,"Vovk, Mr. Janko",male,22.0000,0.0,0.0,349252,7.8958,NaN,S,NaN,NaN,NaN
1281,3.0,0.0,"Waelens, Mr. Achille",male,22.0000,0.0,0.0,345767,9.0000,NaN,S,NaN,NaN,"Antwerp, Belgium / Stanton, OH"
1282,3.0,0.0,"Ware, Mr. Frederick",male,NaN,0.0,0.0,359309,8.0500,NaN,S,NaN,NaN,NaN
1283,3.0,0.0,"Warren, Mr. Charles William",male,NaN,0.0,0.0,C.A. 49867,7.5500,NaN,S,NaN,NaN,NaN
1284,3.0,0.0,"Webber, Mr. James",male,NaN,0.0,0.0,SOTON/OQ 3101316,8.0500,NaN,S,NaN,NaN,NaN
1285,3.0,0.0,"Wenzel, Mr. Linhart",male,32.5000,0.0,0.0,345775,9.5000,NaN,S,NaN,298.0,NaN
1286,3.0,1.0,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0.0,0.0,2688,7.2292,NaN,C,C,NaN,NaN
1287,3.0,0.0,"Widegren, Mr. Carl/Charles Peter",male,51.0000,0.0,0.0,347064,7.7500,NaN,S,NaN,NaN,NaN
1288,3.0,0.0,"Wiklund, Mr. Jakob Alfred",male,18.0000,1.0,0.0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1289,3.0,0.0,"Wiklund, Mr. Karl Johan",male,21.0000,1.0,0.0,3101266,6.4958,NaN,S,NaN,NaN,NaN
1290,3.0,1.0,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1.0,0.0,363272,7.0000,NaN,S,NaN,NaN,NaN
1291,3.0,0.0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0.0,0.0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3.0,0.0,"Willey, Mr. Edward",male,NaN,0.0,0.0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3.0,0.0,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0.0,0.0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1294,3.0,0.0,"Williams, Mr. Leslie",male,28.5000,0.0,0.0,54636,16.1000,NaN,S,NaN,14.0,NaN
1295,3.0,0.0,"Windelov, Mr. Einar",male,21.0000,0.0,0.0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3.0,0.0,"Wirz, Mr. Albert",male,27.0000,0.0,0.0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3.0,0.0,"Wiseman, Mr. Phillippe",male,NaN,0.0,0.0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3.0,0.0,"Wittevrongel, Mr. Camille",male,36.0000,0.0,0.0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3.0,0.0,"Yasbeck, Mr. Antoni",male,27.0000,1.0,0.0,2659,14.4542,NaN,C,C,NaN,NaN
1300,3.0,1.0,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1.0,0.0,2659,14.4542,NaN,C,NaN,NaN,NaN
1301,3.0,0.0,"Youseff, Mr. Gerious",male,45.5000,0.0,0.0,2628,7.2250,NaN,C,NaN,312.0,NaN
1302,3.0,0.0,"Yousif, Mr. Wazli",male,NaN,0.0,0.0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3.0,0.0,"Yousseff, Mr. Gerious",male,NaN,0.0,0.0,2627,14.4583,NaN,C,NaN,NaN,NaN
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Exploring the data - there is data missing!

In [4]:
titanic_data.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [5]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 14 columns):
pclass       1309 non-null float64
survived     1309 non-null float64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null float64
parch        1309 non-null float64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(7), object(7)
memory usage: 143.4+ KB

Issue 2: multiple pieces of information in one column

In [6]:
titanic_data['name'].sample(25)

1201                             Sirayanian, Mr. Orsen
77                    Compton, Mr. Alexander Taylor Jr
331                           Bailey, Mr. Percy Andrew
505                       Milling, Mr. Jacob Christian
473                               Knight, Mr. Robert J
1107                                  Pasic, Mr. Jakob
223                      Parr, Mr. William Henry Marsh
818                   Gilnagh, Miss. Katherine "Katie"
134       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
458                                Ilett, Miss. Bertha
501                  Mellinger, Miss. Madeleine Violet
639                        Asplund, Master. Carl Edgar
452           Hold, Mrs. Stephen (Annie Margaret Hill)
740                                Culumovic, Mr. Jeso
836                      Gustafsson, Mr. Alfred Ossian
465       Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
226                          Pears, Mr. Thomas Clinton
183                             Lesurer, Mr. Gustave J
277     Spencer, Mrs. William Augustus (Marie Eugenie)
112                         Fortune, Miss. Ethel Flora
1128                  Petroff, Mr. Pastcho ("Pentcho")
1052                                Nankoff, Mr. Minko
1060                       Nilsson, Miss. Berta Olivia
625                    Andersson, Miss. Erna Alexandra
637                     Aronsson, Mr. Ernst Axel Algot
Name: name, dtype: object

Issue 3: useless/noisy columns

In [7]:
titanic_data['home.dest'].sample(25)

571                                   NaN
213                         Lexington, MA
661                 London Skanteales, NY
1162                                  NaN
584                England / Hartford, CT
783                    England Albion, NY
1011                                  NaN
128          St Anne's-on-Sea, Lancashire
463              Guernsey / Elizabeth, NJ
234                Rotterdam, Netherlands
967                                   NaN
856                                   NaN
1251                                  NaN
177                            Boston, MA
1017                                  NaN
376               London / Fort Byron, NY
360     Bangkok, Thailand / Roseville, IL
665                      Syria Ottawa, ON
497     Weston-Super-Mare / Moose Jaw, SK
667                          New York, NY
43                       Philadelphia, PA
524                  Spain / Havana, Cuba
836                 Waukegan, Chicago, IL
1138                                  NaN
190                            Hudson, NY
Name: home.dest, dtype: object

In [8]:
titanic_data['body'][pd.notna(titanic_data['body'])].sample(25)

300     245.0
205     249.0
748     197.0
39      208.0
232     207.0
81      269.0
1239    176.0
224     166.0
1285    298.0
201     175.0
608      72.0
285      96.0
1306    304.0
307     169.0
9        22.0
498     209.0
1146    327.0
3       135.0
189     126.0
391     295.0
1225    261.0
850      69.0
1089     89.0
863     306.0
356      97.0
Name: body, dtype: float64

In [9]:
titanic_data[pd.notna(titanic_data['body'])].describe()

,pclass,survived,age,sibsp,parch,fare,body
count,121.000000,121.0,120.000000,121.000000,121.000000,120.000000,121.000000
mean,2.165289,0.0,36.283333,0.347107,0.280992,32.033438,160.809917
std,0.849972,0.0,14.193698,0.891728,0.848755,42.550246,97.696922
min,1.000000,0.0,2.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,0.0,25.750000,0.000000,0.000000,8.050000,72.000000
50%,2.000000,0.0,33.500000,0.000000,0.000000,14.477100,155.000000
75%,3.000000,0.0,46.000000,0.000000,0.000000,29.775000,256.000000
max,3.000000,0.0,71.000000,8.000000,5.000000,227.525000,328.000000

## Fixing data problems

Missing data

In [10]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 14 columns):
pclass       1309 non-null float64
survived     1309 non-null float64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null float64
parch        1309 non-null float64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(7), object(7)
memory usage: 143.4+ KB

In [11]:
titanic_data.dropna(how='all', inplace=True)
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null float64
survived     1309 non-null float64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null float64
parch        1309 non-null float64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(7), object(7)
memory usage: 153.4+ KB

In [12]:
titanic_data['age'].fillna(titanic_data.mean()['age'])

0       29.000000
1        0.916700
2        2.000000
3       30.000000
4       25.000000
5       48.000000
6       63.000000
7       39.000000
8       53.000000
9       71.000000
10      47.000000
11      18.000000
12      24.000000
13      26.000000
14      80.000000
15      29.881135
16      24.000000
17      50.000000
18      32.000000
19      36.000000
20      37.000000
21      47.000000
22      26.000000
23      42.000000
24      29.000000
25      25.000000
26      25.000000
27      19.000000
28      35.000000
29      28.000000
          ...
1279    14.000000
1280    22.000000
1281    22.000000
1282    29.881135
1283    29.881135
1284    29.881135
1285    32.500000
1286    38.000000
1287    51.000000
1288    18.000000
1289    21.000000
1290    47.000000
1291    29.881135
1292    29.881135
1293    29.881135
1294    28.500000
1295    21.000000
1296    27.000000
1297    29.881135
1298    36.000000
1299    27.000000
1300    15.000000
1301    45.500000
1302    29.881135
1303    29.881135
1304    14.500000
1305    29.881135
1306    26.500000
1307    27.000000
1308    29.000000
Name: age, Length: 1309, dtype: float64

In [13]:
titanic_data['age'] = titanic_data['age'].fillna(titanic_data.mean()['age'])

In [14]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null float64
survived     1309 non-null float64
name         1309 non-null object
sex          1309 non-null object
age          1309 non-null float64
sibsp        1309 non-null float64
parch        1309 non-null float64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(7), object(7)
memory usage: 153.4+ KB

Splitting up features

In [15]:
titanic_data['name'].sample(25)

272         Snyder, Mrs. John Pillsbury (Nelle Stevenson)
1103                         Panula, Master. Urho Abraham
780                                 Drapkin, Miss. Jennie
275     Spedden, Mrs. Frederic Oakley (Margaretta Corn...
412                                  Fynney, Mr. Joseph J
1084                     Olsen, Mr. Karl Siegwart Andreas
810                                Ford, Mr. William Neal
983                            MacKay, Mr. George William
525                                      Pain, Dr. Alfred
812                                      Fox, Mr. Patrick
1078                        O'Dwyer, Miss. Ellen "Nellie"
1060                          Nilsson, Miss. Berta Olivia
352     Brown, Mrs. Thomas William Solomon (Elizabeth ...
881                                Jansson, Mr. Carl Olof
55                              Carter, Miss. Lucile Polk
934                   Kink-Heilmann, Miss. Luise Gretchen
1044                                   Murphy, Miss. Nora
174                               Kent, Mr. Edward Austin
715                                  Christmann, Mr. Emil
789                                       Elias, Mr. Dibo
6                       Andrews, Miss. Kornelia Theodosia
338                            Beauchamp, Mr. Henry James
38                                Brady, Mr. John Bertram
508                                  Moraweck, Dr. Ernest
1095                       O'Sullivan, Miss. Bridget Mary
Name: name, dtype: object

In [16]:
titanic_data['name'].str.contains(',').value_counts()

True    1309
Name: name, dtype: int64

In [17]:
titanic_data['name'].str.contains('.').value_counts()

True    1309
Name: name, dtype: int64

In [18]:
titanic_data['last_name'] = titanic_data['name'].str.split(',', expand=True)[0]
first_names = titanic_data['name'].str.split(',', expand=True)[1]
titanic_data['title'] = first_names.str.split('.', expand=True)[0]
titanic_data['first_names'] = first_names.str.split('.', expand=True)[1]

In [19]:
titanic_data[['name', 'title', 'last_name', 'first_names']].sample(10)

,name,title,last_name,first_names
769,"Dennis, Mr. Samuel",Mr,Dennis,Samuel
551,"Ridsdale, Miss. Lucy",Miss,Ridsdale,Lucy
19,"Beattie, Mr. Thomson",Mr,Beattie,Thomson
519,"Norman, Mr. Robert Douglas",Mr,Norman,Robert Douglas
699,"Cacic, Mr. Luka",Mr,Cacic,Luka
663,"Balkic, Mr. Cerin",Mr,Balkic,Cerin
296,"Thayer, Mrs. John Borland (Marian Longstreth M...",Mrs,Thayer,John Borland (Marian Longstreth Morris)
290,"Taussig, Mr. Emil",Mr,Taussig,Emil
532,"Peruschitz, Rev. Joseph Maria",Rev,Peruschitz,Joseph Maria
1018,"Miles, Mr. Frank",Mr,Miles,Frank

In [20]:
titanic_data['title'].value_counts()

 Mr              757
 Miss            260
 Mrs             197
 Master           61
 Rev               8
 Dr                8
 Col               4
 Mlle              2
 Major             2
 Ms                2
 Capt              1
 Mme               1
 the Countess      1
 Lady              1
 Jonkheer          1
 Don               1
 Dona              1
 Sir               1
Name: title, dtype: int64

Removing columns

In [21]:
df = titanic_data.drop('home.dest', axis=1)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,last_name,title,first_names
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,Allen,Miss,Elisabeth Walton
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,Allison,Master,Hudson Trevor
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,Allison,Miss,Helen Loraine
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,Allison,Mr,Hudson Joshua Creighton
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,Allison,Mrs,Hudson J C (Bessie Waldo Daniels)

In [22]:
pd.notna(df['body']).value_counts()

False    1188
True      121
Name: body, dtype: int64

In [23]:
df = df[~pd.notna(df['body'])]

In [24]:
pd.notna(df['body']).value_counts()

False    1188
Name: body, dtype: int64

In [25]:
title_onehot = pd.get_dummies(df['title'])
gender_onehot = pd.get_dummies(df['sex'])

# Building a model to assess your chances of surviving the Titanic.

In [26]:
import numpy as np
y = np.array(df['survived'])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1188 entries, 0 to 1308
Data columns (total 16 columns):
pclass         1188 non-null float64
survived       1188 non-null float64
name           1188 non-null object
sex            1188 non-null object
age            1188 non-null float64
sibsp          1188 non-null float64
parch          1188 non-null float64
ticket         1188 non-null object
fare           1188 non-null float64
cabin          263 non-null object
embarked       1186 non-null object
boat           486 non-null object
body           0 non-null float64
last_name      1188 non-null object
title          1188 non-null object
first_names    1188 non-null object
dtypes: float64(7), object(9)
memory usage: 157.8+ KB

In [28]:
X = np.array(df[['pclass', 'age', 'sibsp', 'parch', 'fare']])

In [29]:
np.hstack([X, title_onehot, gender_onehot]).shape

(1188, 24)

In [30]:
X.shape

(1188, 5)

In [31]:
title_onehot.shape

(1188, 17)

In [32]:
gender_onehot.shape

(1188, 2)

In [33]:
5+2+17

24

In [34]:
X = np.hstack([X, title_onehot, gender_onehot])

In [35]:
y.shape

(1188,)

In [36]:
from sklearn import model_selection, linear_model

In [37]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.33, random_state=42)

In [38]:
X_train.shape

(795, 24)

In [39]:
y_train.shape

(795,)

In [40]:
model = linear_model.LogisticRegression()
model.fit(X_train, y_train)
model.score(X_train, y_train)

0.7987421383647799

In [41]:
model.score(X_test, y_test)

0.7938931297709924

# Random Forests

In [42]:
from sklearn import ensemble

In [43]:
rf_model = ensemble.RandomForestClassifier(
    random_state=42,
    verbose=1
)

In [44]:
rf_model.fit(X_train, y_train)
rf_model.score(X_train, y_train)

[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished

0.9584905660377359

In [45]:
rf_model.score(X_test, y_test)

[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished

0.7709923664122137

More or less trees in the forest

In [54]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=5,
    random_state=42,
    verbose=1
)
print(rf_model)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=5, n_jobs=1,
            oob_score=False, random_state=42, verbose=1, warm_start=False)
0.9484276729559749
0.7430025445292621

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

In [55]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=20,
    random_state=42,
    verbose=1
)
print(rf_model)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=1,
            oob_score=False, random_state=42, verbose=1, warm_start=False)
0.9685534591194969
0.7582697201017812

[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    0.0s finished

In [56]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    random_state=42,
    verbose=1
)
print(rf_model)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=42, verbose=1, warm_start=False)
0.9735849056603774
0.7786259541984732

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [57]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=1000,
    random_state=42,
    verbose=1
)
print(rf_model)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=42, verbose=1, warm_start=False)

[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    0.7s finished
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    0.1s finished

0.9735849056603774
0.7735368956743003

[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    0.0s finished

Trying to vary tree depth

In [58]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=3,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

0.7924528301886793
0.7760814249363868

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [59]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

0.8968553459119497
0.7989821882951654

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [60]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=20,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

0.9735849056603774
0.7760814249363868

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

Max features

In [62]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    max_features=0.5,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

0.9119496855345912
0.8040712468193384

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [67]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    max_features=0.8,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

0.9283018867924528
0.8040712468193384

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

min_samples_leaf

In [79]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    max_features=0.8,
    min_samples_leaf=0.1,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

0.7710691823899372
0.7709923664122137

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [76]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    max_features=0.8,
    min_samples_leaf=3,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

0.8779874213836478
0.7989821882951654

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

Whether to use out-of-bag samples to estimate the generalization accuracy.

In [82]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    max_features=0.8,
    oob_score=True,
    random_state=42
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

0.9283018867924528
0.8040712468193384

# SVM model

In [92]:
from sklearn import svm
linear_svc = svm.LinearSVC(random_state=42)
nu_svc = svm.NuSVC(random_state=42)
svc = svm.SVC(random_state=42)

In [97]:
linear_svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'Linear SVC', linear_svc.score(X_train, y_train), linear_svc.score(X_test, y_test)))

Linear SVC: Training error = 0.6692, test error = 0.6489

In [94]:
nu_svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'NuSVC', nu_svc.score(X_train, y_train), nu_svc.score(X_test, y_test)))

NuSVC: Training error = 0.8616, test error = 0.7226

In [95]:
svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'SVC', svc.score(X_train, y_train), svc.score(X_test, y_test)))

SVC: Training error = 0.8277, test error = 0.7226

## Testing out SVC kernels

In [96]:
svc = svm.SVC(
    kernel='linear',
    random_state=42
)
svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'SVC', svc.score(X_train, y_train), svc.score(X_test, y_test)))

SVC: Training error = 0.8013, test error = 0.7939

In [98]:
svc = svm.SVC(
    kernel='poly',
    random_state=42
)
svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'SVC', svc.score(X_train, y_train), svc.score(X_test, y_test)))

SVC: Training error = 0.7748, test error = 0.7481

In [99]:
svc = svm.SVC(
    kernel='sigmoid',
    random_state=42
)
svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'SVC', svc.score(X_train, y_train), svc.score(X_test, y_test)))

SVC: Training error = 0.5811, test error = 0.5751

Playing with the *slack* variable `C`

In [103]:
svc = svm.SVC(
    kernel='linear',
    C=50.0,
    random_state=42
)
svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'SVC', svc.score(X_train, y_train), svc.score(X_test, y_test)))

SVC: Training error = 0.8013, test error = 0.7939

Balance out classes

In [104]:
svc = svm.SVC(
    kernel='linear',
    class_weight='balanced',
    random_state=42
)
svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'SVC', svc.score(X_train, y_train), svc.score(X_test, y_test)))

SVC: Training error = 0.7811, test error = 0.7735

Scaling

In [107]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)

In [112]:
X_train[0]

array([ 2., 34.,  1.,  0., 21.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.])

In [111]:
X_train_scaled[0]

array([-0.37218359,  0.39248337,  0.47414562, -0.42236438, -0.23339466,
       -0.0502202 , -0.03548867, -0.03548867, -0.06154575, -0.03548867,
       -0.03548867, -0.0502202 , -0.23912518, -0.50784977, -0.03548867,
       -0.03548867,  0.87783902, -0.42370417, -0.03548867, -0.07955573,
        0.        ,  0.        , -0.75779775,  0.75779775])

In [114]:
svc = svm.SVC(
    kernel='linear',
    random_state=42
)
svc.fit(X_train_scaled, y_train)

X_test_scaled = scaler.transform(X_test)
print('{}: Training error = {:.5f}, test error = {:.5f}'.format(
    'SVC', svc.score(X_train_scaled, y_train), svc.score(X_test_scaled, y_test)))

SVC: Training error = 0.80126, test error = 0.79389